[Unit]
Description=Autoexpense web application
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/app
ExecStart=bash /app/scripts/run_app.sh
Restart=always

[Install]
WantedBy=multi-user.target
